<% if @link.errors.any? %>
  <ul>
    <% @link.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>


  <%= form_for @link do |link| %>
    <div class='form-group'>
      <%= link.label :title, 'Title' %>
      <%= link.text_field :title, class: 'form-control' %>
    </div>
    <div class='form-group'>
      <%= link.label :url, 'URL' %>
      <%= link.text_field :url, class: 'form-control' %>
    </div>
    <div class='form-group'>
      <%= link.submit 'Submit', class: 'btn btn-primary' %>
    </div>
  <% end %>
